.membership_info_lists{
    border-style: solid;
    border-color: black;
    border-width: 5px; 
    background-color:rgba(216, 193, 152, 0.549);
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
    box-shadow: 5px 5px 10px;
    border-radius: 15px;
}

.membership_about_buttons{
    width: 13.5rem;
}

.leadershipButtons{
    width: 13.5rem;
}

.responsibilities_lists{
    border-style: solid;
    width: 17rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
    background-color:rgba(216, 193, 152, 0.549);
    box-shadow: 5px 5px 10px;
    border-radius: 15px;
}

h1 {
    margin: 0 auto; 
    text-align: center;
    background-color: var(--accent);
    width:30rem;
}



p{
    margin: 20px;
}

#membership_form_div{
    background-color: var(--secondary);
}

#submit_button{
    width: 25%;
    color: white; 
}

.leadership_images{
    height: 250px;
}

label{
    color:white; 
}

