:root[data-theme="light"] {
    color-scheme: light;
  --text: #050316;
  --background: #dfd9d8;
  --primary: #b54547;
  --secondary: #fc8d8d;
  --accent: #65242f;
}
:root[data-theme="dark"] {
    color-scheme: dark;
  --text: #eae9fc;
  --background: #272120;
  --primary: #ba4a4c;
  --secondary: #720303;
  --accent: #db9aa5;
}

*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
    color: var(--primary);
}

a {
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
}

button, .btn {
    background-color: var(--primary);
    min-height: 44px;
    
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--primary);
}

:root[data-theme='light'] .icon-sun {
    display: none;
}

:root[data-theme='dark'] .icon-moon {
    display: none;
}